body{
    background-color: antiquewhite;
    width: 84%;
    margin: 0 auto;
}
.col1{
    width: 7%;
    text-align: right;
}
.col2{
    width: 14%;
}
.col3{
    width: 21%;
}
.col4{
    width: 28%;
}
.col5{
    width: 35%;
}
.col6{
    width: 42%;
}
.col7{
    width: 49%;
}
.col8{
    width: 56%;
}
.col9{
    width: 63%;
}
.col10{
    width: 70%;
}
.col11{
    width: 77%;
}
.col12{
    width: 84%;
}
.parte1, .parte2{
    float: left;
}

.banner{
   width: 100%;
   height: 100vh;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}
.banner video {
    position: absolute;
    width: 100%;
    height: 85%;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    margin-top: 0;
}
.banner .content{
    position: absolute;
    z-index: 1;
    max-width: 100px;
    margin: 0 auto;
    text-align:left;
    top: 40%; 
}
.banner .content h1{
    padding: 0;
    font-size: 6.6em;
    text-transform: uppercase;
    color: #ffff;
    float: right;
}
.menu{
    list-style:none;
    border:1px solid #c0c0c0;
    float:left;
}
.menu li{
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
}
.menu li a{
    color:#ffffff; text-decoration:none; padding:5px 10px; display:block;
}

.menu li a:hover{
    background:#333;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}
.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#4e4e4e;
    display:none;
}
.menu li:hover ul, .menu li.over ul{display:block;}
.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
}
img{
    max-width: 100%;
}
.articles-list{
    display: grid;
    grid-gap:15%;
    margin: 20px 0 0;
    margin-top: 0;

  .col-view &{
    grid-template-columns: repeat(auto-fill, minmax(260px,auto));
  }

  }
  .article{
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.3);
    color: #333;
    margin-top: -40%;
  }
  .img{
    width: 100%;
  }
  .content{
    padding: 20px;
    float: center;
  }
  .title{
    font-size: 18px;
    margin: 0 0 .5em;
    text-transform: uppercase;
  }
  .botão{
    background-color: #9C5D41;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  